/********Footer**********/
footer {
	background: $color-footerBackground;
	padding: 10px 0px;
	
	h3 {
		width: 150px;
	}

	li {
		display: none;
		
		@include tablet {
			display: inline-block;
			margin: auto 10px;
		}
	}
	
	a {
		padding: 5px 10px;
		border-radius: 3px;
		margin-right: 10px;
	}
	
	li:nth-of-type(1) {
		display: inline-block;
		
		@include tablet {
			display: none;
		}
	}
}

.footer_inner_wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	@include desktop {
		max-width: 1024px;
		width: auto;
		margin: auto;
	}
}
/************************/